<?xml version="1.0"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Test Method</Title>
      <Description>Expansion snippet for a Test method</Description>
      <Shortcut>test</Shortcut>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>name</ID>
          <ToolTip>TestName</ToolTip>
          <Default>Test</Default>
        </Literal>
      </Declarations>
      <Code Language="csharp"><![CDATA[		[Test]        
        public void $name$()
        {
            
        }
	]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>